body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  width: 100%;
}



h1{
  text-align: center;
  font-family: courier,arial,helvetica;
  color: white;
}

#title{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
   
}